<h1>Hello world</h1>
<h2>ASP.NET web development</h2>
<h3>Programming Technology - INS3107</h3>

<img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202411/us-election-results-054533413-16x9_0.jpeg?VersionId=PpmZL08bIdO51yhNzxxnm5eBT5_DkCrQ&size=690:388" />

<ul>
    <li>Monday</li>
    <li>Tuesday</li>
    <li>Wednesday</li>
    <li>Thursday</li>
    <li>Friday</li>
    <li>Saturday</li>
    <li>Sunday</li>
</ul>

<iframe width="560" height="315" src="https://www.youtube.com/embed/_ALYnyHRvNA?si=ssotImc_DUP92pGc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<table class="table table-danger">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Minh</td>
        <td>20</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Tuan</td>
        <td>22</td>
    </tr>
</table>