<h2>We are living in @ViewBag.Year</h2>

<h2>We are studying @ViewData["module"]</h2>

<h3 class="alert alert-danger">@TempData["error"]</h3>


<h1> @ViewBag.VNU </h1>
<img src="https://media.isvnu.vn/Media/1_VNU_eOffice/FolderFunc/202205/Images/isvnu-logo2022-20220516085200-e.png" />