<ul>
    <li>
        <a asp-controller="Vietnam" asp-action="Hanoi">
            Hanoi
        </a>
    </li>
    <li>
        <a asp-controller="Vietnam" asp-action="HCMCity">
            HCM City
        </a>
    </li>
    <li>
        <a asp-controller="Vietnam" asp-action="Danang">
            Danang
        </a>
    </li>
</ul>